.game-selector {
  background-color: $darkblue;
  display: flex;
  max-height: 48px;
  padding: 0 .5rem;

  .select {
    align-items: center;
    background-color: transparent !important; // sass-lint:disable-line no-important
    color: $white;
    display: flex;
    padding: 0;
  }

  .select-icon {
    fill: $white;
  }
}

.select-tracker {
  opacity: .5;
}

.selected-tracker {
  align-items: center;
  display: flex;
}

.game-svg {
  height: 24px;
  padding-right: 10px;
  width: 24px;
}

.game-info {
  p {
    margin: 0;
  }

  .game-name {
    color: darken($white, 25%);
    font-size: .8rem;
    text-transform: uppercase;
  }
}

li {
  &.sub-header {
    align-items: center;
    background-color: $darkblue;
    color: $white;
    display: flex;
    line-height: initial;
    padding: 5px 10px;
    user-select: none;
  }

  &.menu-item {
    line-height: initial;
    min-height: 32px;

    p {
      margin: 0;
      padding-left: 24px;
    }
  }
}

.refresh {
  svg {
    fill: $white;
  }

  &.disabled {
    opacity: .5;
  }
}
