$black: rgb(20, 20, 20);
$white: rgb(255, 255, 255);
$lightblue: rgb(48, 195, 235);
$darkblue: rgb(25, 80, 108);
$green: rgb(122, 229, 34);
$banana: rgb(255, 241, 181);
$red: rgb(205, 55, 61);

$error: $red;
$info: $banana;

$icon-size: 50;

@mixin disabled-state {
  filter: grayscale(100%);
  opacity: .5;
}

@mixin text-outline {
  color: $white;
  text-shadow: -2px -2px 0 $black, 0 -2px 0 $black, 2px -2px 0 $black, 2px 0 0 $black, 2px 2px 0 $black, 0 2px 0 $black, -2px 2px 0 $black, -2px 0 0 $black;
}
