.welcome {
  align-items: center;
  color: darken($white, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 209px;
  user-select: none;

  svg {
    fill: darken($white, 50%);
    margin-top: -25px;
  }

  p {
    margin: 0;
  }
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
  user-select: none;
}

.item {
  height: 100%;
  max: {
    height: $icon-size + px;
    width: $icon-size + px;
  }
  padding: .1rem;
  position: relative;
  width: 100%;
}

.greyscale {
  & > :not(.modifiers) {
    filter: grayscale(100%);
    opacity: .5;
  }
}

.hide-level {
  .item-level {
    display: none;
  }
}

.item-checked {
  fill: $green;
  paint-order: stroke;
  position: absolute;
  right: 0;
  stroke: $black;
  stroke-width: 4px;
  top: 0;
  width: 1.5rem;
}

.item-level,
.item-step {
  @include text-outline;
  font-size: 1.5rem;
  pointer-events: none;
  position: absolute;
}

.item-step {
  left: .5rem;
  top: 0;
}

.item-level {
  bottom: 0;
  right: .5rem;
}
