html,
body {
  background-color: $black;
  font-family: 'ZCOOL QingKe HuangYou';
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
}

.title {
  -webkit-app-region: drag; // sass-lint:disable-line no-vendor-prefixes
  align-items: center;
  background-color: lighten($darkblue, 10%);
  color: $white;
  display: flex;
  justify-content: center;
  padding: .5rem;
  user-select: none;

  h1 {
    align-items: center;
    display: flex;
    font-size: 16pt;
    margin: 0;

    svg {
      fill: $white;
      opacity: .7;
      padding-right: .3rem;
    }
  }
}

.game-selector {
  background-color: $darkblue;
  display: flex;
  padding: 0 .5rem;

  .select {
    align-items: center;
    background-color: transparent !important; // sass-lint:disable-line no-important
    color: $white;
    display: flex;
    padding: 0;
  }

  .select-icon {
    fill: $white;
  }
}

.game-svg {
  height: 32px;
  padding-right: .5rem;
  width: 32px;
}

.menu-item {
  p {
    margin: 0;
  }
}

.refresh {
  svg {
    fill: $white;
  }
}
