.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem .75rem;
  user-select: none;
}

.item {
  height: 100%;
  max: {
    height: 64px;
    width: 64px;
  }
  padding: 0 .25rem;
  position: relative;
  width: 100%;
}

.greyscale {
  & > :not(.modifiers) {
    filter: grayscale(100%);
    opacity: .5;
  }
}

.item-checked {
  fill: $green;
  paint-order: stroke;
  position: absolute;
  right: 0;
  stroke: $black;
  stroke-width: 4px;
  top: 0;
  width: 1.5rem;
}

.item-level,
.item-step {
  color: $white;
  font-size: 1.5rem;
  pointer-events: none;
  position: absolute;
  text-shadow: -2px -2px 0 $black, 0 -2px 0 $black, 2px -2px 0 $black, 2px 0 0 $black, 2px 2px 0 $black, 0 2px 0 $black, -2px 2px 0 $black, -2px 0 0 $black;
}

.item-step {
  left: .5rem;
  top: 0;
}

.item-level {
  bottom: 0;
  right: .5rem;
}
