@import '../../../../node_modules/@openfonts/zcool-qingke-huangyou_chinese-simplified/index.css';

html,
body {
  background-color: $black;
  font-family: 'ZCOOL QingKe HuangYou';
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  padding: 0;
}

.title {
  -webkit-app-region: drag; // sass-lint:disable-line no-vendor-prefixes
  align-items: center;
  background-color: lighten($darkblue, 10%);
  color: $white;
  display: flex;
  justify-content: center;
  padding: .5rem;
  user-select: none;

  h1 {
    align-items: center;
    display: flex;
    font-size: 16pt;
    margin: 0;

    svg {
      fill: $white;
      opacity: .7;
      padding-right: .3rem;
    }
  }
}

.app-error {
  color: $white;

  .error-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .actions {
    padding-top: 1rem;

    button {
      margin: 0 .5rem;
    }
  }

  h2 {
    text-align: center;

    span {
      color: $red;
      display: block;
      font-size: .9rem;
      text-transform: uppercase;
    }
  }

  svg {
    fill: $white;
  }
}
